<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/Styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Reem+Kufi:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">


    
</head>
<body>
    
</body>
</html>


<body>


    <form id="Forms" action="/submit" method="POST">

    <div class="khelaf_container">
        
        <div class="KhelafA KhelafD ">

            <div class="AyahSorah">

                <div class="">
                    <h2 class="noOfKelafat">السورة</h2>
                </div>

                <div class="KhelafBab">
                    <select class="Assorah KhelafItem" id="Sorah" name="Sorah" placeholder="السورة" required="required" onchange='Sorahchange()'>
                        <option value="" disabled selected hidden>السورة</option>
                        <% for(var count = 0; count < Sorah.length; count++) { %>
                            <option value="<%= Sorah[count].SorahID %>"><%= Sorah[count].SorahName %></option>
                        <% } %>
                    </select>
                </div>

            </div>

            <div class="AyahSorah">

                <div class="">
                    <h2 class="noOfKelafat">الآيـة</h2>
                </div>

                <div   class="KhelafBab">
                    <select class="Assorah KhelafItem" id="Ayah" name="Ayah" placeholder="الآية" required="required">
                        <option value="" disabled selected hidden>الآية</option>
                    </select>
                </div>

            </div>

        </div>    
        
        
        
        <div class="KhelafA KhelafB">

            <div class="Quraa">
                <h2 class="Arrwah">الرواة</h2>

                <div class="select_buttons"> 
                    <input class="select_button" type="button" onclick='selects()' value="تحديد الكل"/>  
                    <input class="select_button" type="button" onclick='deSelect()' value="مسح التحديد"/>
                </div>  

                <div id="check">

                    <div id="check">
                        <%for(let i=0; i<rwah.length; i++){%>
                            <div class="labels">
                                <input type="checkbox" id=  "A" name="RawyID" value="<%=rwah[i].RawyID%>">
                                <label class="rwahLable" for="A"> <%=rwah[i].RawyName%></label>
                            </div>
                        <%}%>

                    </div>


                </div>
    
            </div>



        </div>




    </div>

    <div class="Search">
        <input class="SearchButton" type="submit" value="بحث" onclick='checkBoxVal()' />
    </div>

    </form>

</body>

    

</html>




<script>

    function _(element)
    {
        return document.getElementById(element);
    }
    
    function fetch_data(parent_element, child_element, type)
    {
        fetch('/get_data?type='+type+'&parent_value='+parent_element.value+'').then(function(response){
            return response.json();
        }).then(function(responseData){
    
            var html = '';
    
            if(type == 'load_Sorah')
            {
                html = '<option value="" disabled selected hidden>الآية</option>';
            }
    

    
            for(var count = 0; count < responseData.length; count++)
            {
                html += '<option value="'+responseData[count].AyahID+'">'+responseData[count].AyahID+'</option>';
            }
    
            child_element.innerHTML = html;
        });
    }
    




        function Sorahchange(){
                fetch_data(_('Sorah'), _('Ayah'), 'load_Sorah');
                
        };




</script>
    
   

